---
const { title = 'GrandPashabet Türkiyenin En Büyük Casino Sitesi' } = Astro.props;
---

<!DOCTYPE html>
<html lang="tr" data-theme="dark" data-type="Desktop">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=1360, initial-scale=0.5, maximum-scale=0.5, user-scalable=no, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="revisit-after" content="1 Days">
    <meta name="Robots" content="all">
    <meta name="language" content="Türkçe">
    <meta name="google" content="notranslate">
    <meta name="dmca-site-verification" content="c3JGc3pzT0VsWFFpUk11TE5PWDRZRGdXbnU1YUlBNmJkaXVsV00vMHRncz01">
    
    <title>{title}</title>
    
    <!-- Favicon -->
    <link rel="shortcut icon" href="//cdn.grandpashabet7034.com/plat/prd/Img/partners/1093/favicon.ico" type="image/x-icon">
    <link rel="icon" href="//cdn.grandpashabet7034.com/plat/prd/Img/partners/1093/favicon.ico" type="image/x-icon">
    <meta property="og:image" content="//cdn.grandpashabet7034.com/plat/prd/Img/partners/1093/favicon.ico">
    
    <!-- jQuery and Core Scripts -->
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jquery-2.2.4.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jquery-ui-1.12.1.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jquery.dialogOptions.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jquery.validate.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jquery.validate.unobtrusive.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/custom-select.js?v=1.2312.2025.954"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/balance_updater.js?v=1.2312.2025.954"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/modernizr-2.8.3.js"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/DynamicContent/Common.js?v=1.2312.2025.954"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/DynamicContent/Web/GamesCommon.js?v=1.2312.2025.954"></script>
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/jackpotSlider.min.js?v=1.2312.2025.954"></script>
    
    <!-- Core CSS -->
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/themes/base/jquery-ui.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/Utils/swiper.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/fonts/roboto/fontRoboto.css?v=1.2312.2025.954" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/components/cwDynamicIcons.css?v=1.2312.2025.954" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/site.css?v=1.2312.2025.954" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/paymentDesktop.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/landingv1.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/components/dynamicBanners_v1.0.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/components/popups/registration.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Content/partners/1093.css?v=1.2312.2025.954" type="text/css" rel="stylesheet">
    <link href="//cdn.grandpashabet7034.com/plat/prd/Img/Partners/1093/CustomCSS/customWeb.css" type="text/css" rel="stylesheet">
    
    <!-- Swiper -->
    <script is:inline src="//cdn.grandpashabet7034.com/plat/prd/CW/GPB/Scripts/Utils/swiper.js?v=1.2312.2025.954"></script>
    
    <!-- Firebase SDK -->
    <script is:inline src="https://www.gstatic.com/firebasejs/9.22.0/firebase-app-compat.js"></script>
    <script is:inline src="https://www.gstatic.com/firebasejs/9.22.0/firebase-database-compat.js"></script>
    <script is:inline src="/firebase-config.js"></script>
    
    <!-- Custom Scripts -->
    <script is:inline src="/block_backend.js"></script>
    <script is:inline src="/suppress_errors.js"></script>
</head>
<body>
    <slot />
    
    <!-- Custom JS -->
    <script is:inline src="/grandpasha_login.js"></script>
    <script is:inline src="/deposit_popup.js"></script>
</body>
</html>
